USE [MSTR_DW]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MM_ACT_DATE]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-11-28
-- Description : 아동마스터변환
-- AS_IS Function : FN_MM_ACT_DATE
-- PROGRAMID      : FN_MM_ACT_DATE.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_MM_ACT_DATE]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN 
(
SELECT t1.MBER_NO, t1.STDR_DE, t1.FRST_REGIST_DT, SPNSR_DSCNTC_DE, t2.RE_SPNSR_DE, actualdt FROM
			MSTR_ODS.DBO.TM_MM_FDRM_MBER_INFO t1
			INNER JOIN (SELECT DISTINCT MBER_NO FROM MART.D_SPNSR_BSNS_V WHERE FST_DE <= @STRD_MT + '31' AND ( DSC_DE IS NULL OR DSC_DE > @STRD_MT + '31')) t3 ON t1.MBER_NO = t3.MBER_NO
			LEFT OUTER JOIN
			(
				SELECT t1.MBER_NO, t1.SPNSR_DSCNTC_DE, t2.RE_SPNSR_DE,
					CASE WHEN RE_SPNSR_DE IS NULL THEN DateAdd(d, -1, SPNSR_DSCNTC_DE)
						ELSE
							CASE
								WHEN SPNSR_DSCNTC_DE > RE_SPNSR_DE THEN DateAdd(d, -1, SPNSR_DSCNTC_DE) ELSE
								
								CASE WHEN RE_SPNSR_DE < DATEADD( DD, -1, DATEADD(MM, 1,CONVERT( DATE,@STRD_MT + '01'))) THEN DATEADD( DD, -1, DATEADD(MM, 1,CONVERT( DATE,@STRD_MT + '01'))) ELSE RE_SPNSR_DE END
							END
					END AS actualdt
				FROM
				(
					SELECT MBER_NO, SPNSR_DSCNTC_DE
					FROM
					(
					SELECT *, ROW_NUMBER() OVER(PARTITION BY MBER_NO ORDER BY SPNSR_DSCNTC_DE DESC) AS rnum FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_SPNSR_DSCNTC WHERE SPNSR_DSCNTC_DE <= @STRD_MT + '31'
					) t1
					WHERE t1.rnum = 1
				) t1
				LEFT OUTER JOIN 
				(
					SELECT MBER_NO, RE_SPNSR_DE
					FROM
					(
					SELECT *, ROW_NUMBER() OVER(PARTITION BY MBER_NO ORDER BY RE_SPNSR_DE DESC) AS rnum FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_RE_SPNSR WHERE RE_SPNSR_DE <= @STRD_MT + '31'
					) t1
					WHERE t1.rnum = 1
				) t2
				ON t1.MBER_NO = t2.MBER_NO
			) t2 ON t1.MBER_NO = t2.MBER_NO
		WHERE DATEADD( DD, -1, DATEADD(MM, 1,CONVERT( DATE,@STRD_MT + '01'))) BETWEEN CONVERT(DATE,FRST_REGIST_DT) AND CONVERT(DATE, ISNULL(actualdt,'9999-12-31'))
 )
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MM_SPNSR_ACT]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_MM_SPNSR_ACT
-- PROGRAMID      : FN_MM_SPNSR_ACT.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_MM_SPNSR_ACT]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT *
      	FROM (  -- 활동 
			  SELECT  '1' DVLP_DIV_CD2,
			          DATEDIFF( MONTH, CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) MT_CNT ,
			          DATEDIFF( YEAR , CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) YY_CNT ,
					  CASE WHEN ADD_AMT BETWEEN  1      AND   9999 THEN  '1'
					       WHEN ADD_AMT BETWEEN  10000  AND  49999 THEN  '2'
						   WHEN ADD_AMT BETWEEN  50000  AND  99999 THEN  '3'
						   WHEN ADD_AMT BETWEEN 100000  AND 499999 THEN  '4'
						   WHEN ADD_AMT >= 500000                  THEN  '5'
						   ELSE '99' END AS SPNSR_AMT_CD1 ,
					  CASE WHEN ADD_AMT BETWEEN  1      AND   9999 THEN  '1'
					       WHEN ADD_AMT BETWEEN  10000  AND  19999 THEN  '2'
						   WHEN ADD_AMT BETWEEN  20000  AND  29999 THEN  '3'
						   WHEN ADD_AMT BETWEEN  30000  AND  39999 THEN  '4'
						   WHEN ADD_AMT BETWEEN  40000  AND  49999 THEN  '5'
						   WHEN ADD_AMT BETWEEN  50000  AND  59999 THEN  '6'
						   WHEN ADD_AMT BETWEEN  60000  AND  69999 THEN  '7'
						   WHEN ADD_AMT BETWEEN  70000  AND  79999 THEN  '8'
						   WHEN ADD_AMT BETWEEN  80000  AND  89999 THEN  '9'
						   WHEN ADD_AMT BETWEEN  90000  AND  99999 THEN  '10'
						   WHEN ADD_AMT BETWEEN 100000  AND 499999 THEN  '11'
						   WHEN ADD_AMT >= 500000                  THEN  '12'
						   ELSE '999' END AS SPNSR_AMT_CD2 ,B.*	   
			  FROM ( 
					SELECT 
						 SUM( SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) SUM_AMT , -- 현재 후원금액
						 SUM( SPNSR_AMT) OVER ( PARTITION BY MBER_NO ) ADD_AMT , --당월증액
						 0 TOT_ADD_AMT , --증액
						 MAX( CASE WHEN DVLP_DIV_CD IN ( '2')     THEN OCCRRNC_DE  END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) LAST_ADD_DE , --최종증액일자
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ( '1','2', '4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_STRD_DE , --최초후원일
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ('4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_RE_STRD_DE , --최초재후원일
						 ROW_NUMBER()  OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO  ORDER BY OCCRRNC_DE DESC , SER_NO DESC   ) RNUM ,  -- 최종 활동회원정보  
						 STRD_MT ,
						 OCCRRNC_DE ,
						 SPNSR_NO ,
						 SPNSR_BSNS_NO ,
						 SER_NO ,
						 MBER_NO ,
						 ACT_DEPT_CD ,
						 ACMSLT_DEPT_CD ,
						 ACMSLT_DEPT2_CD ,
						 ACMSLT_DEPT3_CD ,
						 ACMSLT_DEPT4_CD ,
						 CMPGN_CD ,
						 CMPGN_CLS1_CD ,
						 CMPGN_CLS2_CD ,
						 CMPGN_CLS3_CD ,
						 UPPER_CMPGN_CD ,
						 BRND_ID ,
						 PR_MTH_CD ,
						 SPCL_CMPGN_YN ,
						 PRE_CMPGN_CD ,
						 SETLE_CD ,
						 MBER_DIV_CD ,
						 SEX ,
						 AREA_CD ,
						 AGE_TERM_CD ,
						 AGE ,
						 PAYER_AGE_TERM_CD ,
						 SPNSR_TIME_CO ,
						 SPNSR_TERM_MT_CNT ,
						 SPNSR_TERM_CD ,
						 SPNSR_AMT_CD ,
						 SPNSR_TERM2_CD ,
						 SPNSR_AMT2_CD ,
						 SPNSR_BSNS_ID ,
						 '' SPNSR_BSNS2_ID ,
						 SPNSR_BSNS_ABRV_CD ,
						 CPR_DIV_CD ,
						 CANCL_RDCAMT_RSN_CD ,
						 SPNSR_AMT ,
						 SPNSR_AMT_CNT ,
						 MT_GOAL_CNT ,
						 YY_GOAL_CNT ,
						 DVLP_DIV_CD ,
						 DVLP_CNT ,
						 RDCAMT_YN ,
						 MT_ADD_SPNSR_AMT_YN ,
						 WORK_DE 
					  FROM MART.F_MM_SPNSR_DVLP         A
					 WHERE A.STRD_MT <= @STRD_MT
				   ) B
				   JOIN FN_MM_ACT_DATE(@STRD_MT) A
					ON A.MBER_NO      = B.MBER_NO
			 WHERE RNUM = 1 -- 최종 정보 
			   AND SUM_AMT > 0 
            UNION ALL 
			SELECT   CASE WHEN DVLP_DIV_CD = '5' THEN '2' 
			              WHEN DVLP_DIV_CD = '2' THEN '3' 
                          WHEN DVLP_DIV_CD = '3' THEN '4'  END DVLP_DIV_CD2,
			          DATEDIFF( MONTH, CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) MT_CNT ,
			          DATEDIFF( YEAR , CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) YY_CNT ,
					  CASE WHEN SUM_AMT BETWEEN  1      AND   9999 THEN  '1'
					       WHEN SUM_AMT BETWEEN  10000  AND  49999 THEN  '2'
						   WHEN SUM_AMT BETWEEN  50000  AND  99999 THEN  '3'
						   WHEN SUM_AMT BETWEEN 100000  AND 499999 THEN  '4'
						   WHEN SUM_AMT >= 500000                  THEN  '5'
						   ELSE '99' END AS SPNSR_AMT_CD1 ,
					  CASE WHEN SUM_AMT BETWEEN  1      AND  10000 THEN  '1'
					       WHEN SUM_AMT BETWEEN  10000  AND  19999 THEN  '2'
						   WHEN SUM_AMT BETWEEN  20000  AND  29999 THEN  '3'
						   WHEN SUM_AMT BETWEEN  30000  AND  39999 THEN  '4'
						   WHEN SUM_AMT BETWEEN  40000  AND  49999 THEN  '5'
						   WHEN SUM_AMT BETWEEN  50000  AND  59999 THEN  '6'
						   WHEN SUM_AMT BETWEEN  60000  AND  69999 THEN  '7'
						   WHEN SUM_AMT BETWEEN  70000  AND  79999 THEN  '8'
						   WHEN SUM_AMT BETWEEN  80000  AND  89999 THEN  '9'
						   WHEN SUM_AMT BETWEEN  90000  AND  99999 THEN  '10'
						   WHEN SUM_AMT BETWEEN 100000  AND 499999 THEN  '11'
						   WHEN SUM_AMT >= 500000                  THEN  '12'
						   ELSE '999' END AS SPNSR_AMT_CD2 ,*

			  FROM ( 
					SELECT 
						 0 SUM_AMT , -- 현재 후원금액
						 0 ADD_AMT , --당월증액
						 0 TOT_ADD_AMT , --증액
						 MAX( CASE WHEN DVLP_DIV_CD IN ( '2')     THEN OCCRRNC_DE  END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) LAST_ADD_DE , --최종증액일자
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ( '1','2', '4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_STRD_DE , --최초후원일
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ('4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_RE_STRD_DE , --최초재후원일
						 ROW_NUMBER()  OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO  ORDER BY OCCRRNC_DE DESC , SER_NO DESC ) RNUM ,  -- 최종 활동회원정보  
						 STRD_MT ,
						 OCCRRNC_DE ,
						 SPNSR_NO ,
						 SPNSR_BSNS_NO ,
						 SER_NO ,
						 MBER_NO ,
						 ACT_DEPT_CD ,
						 ACMSLT_DEPT_CD ,
						 ACMSLT_DEPT2_CD ,
						 ACMSLT_DEPT3_CD ,
						 ACMSLT_DEPT4_CD ,
						 CMPGN_CD ,
						 CMPGN_CLS1_CD ,
						 CMPGN_CLS2_CD ,
						 CMPGN_CLS3_CD ,
						 UPPER_CMPGN_CD ,
						 BRND_ID ,
						 PR_MTH_CD ,
						 SPCL_CMPGN_YN ,
						 PRE_CMPGN_CD ,
						 SETLE_CD ,
						 MBER_DIV_CD ,
						 SEX ,
						 AREA_CD ,
						 AGE_TERM_CD ,
						 AGE ,
						 PAYER_AGE_TERM_CD ,
						 SPNSR_TIME_CO ,
						 SPNSR_TERM_MT_CNT ,
						 SPNSR_TERM_CD ,
						 SPNSR_AMT_CD ,
						 SPNSR_TERM2_CD ,
						 SPNSR_AMT2_CD ,
						 SPNSR_BSNS_ID ,
						 '99' SPNSR_BSNS2_ID ,
						 SPNSR_BSNS_ABRV_CD ,
						 CPR_DIV_CD ,
						 CANCL_RDCAMT_RSN_CD ,
						 SPNSR_AMT ,
						 SPNSR_AMT_CNT ,
						 MT_GOAL_CNT ,
						 YY_GOAL_CNT ,
						 DVLP_DIV_CD ,
						 DVLP_CNT ,
						 RDCAMT_YN ,
						 MT_ADD_SPNSR_AMT_YN ,
						 WORK_DE 
					  FROM MART.F_MM_SPNSR_DVLP_SUM  A
					 WHERE A.STRD_MT = @STRD_MT
					   
				   ) B
			 WHERE  DVLP_DIV_CD IN ( '2','3','5' )
               
			   
		   )    A
GO
/****** Object:  UserDefinedFunction [dbo].[FN_JOB_MART]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-12-26
-- Description : MART 작업현황
-- AS_IS Function : FN_JOB_MART
-- PROGRAMID      : FN_JOB_MART.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_JOB_MART]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN 
(
SELECT  
		@STRD_MT            STRD_MT , 
        SUM( DEV_MBER_CNT ) DEV_MBER_CNT,
		SUM( DEV_AMT_CNT  ) DEV_AMT_CNT,
        SUM( DEV_GOAL_CNT ) DEV_GOAL_CNT,
		SUM( DEV_RATE     ) DEV_RATE,
        SUM( ACT_NEW_MBER_CNT  ) ACT_NEW_MBER_CNT,
		SUM( ACT_NEW_AMT_CNT   ) ACT_NEW_AMT_CNT,
        SUM( ACT_OLD_MBER_CNT  ) ACT_OLD_MBER_CNT,
		SUM( ACT_OLD_AMT_CNT   ) ACT_OLD_AMT_CNT,
	    SUM( FDRM_PAY_AMT) FDRM_PAY_AMT,
		SUM( ONCE_PAY_AMT) ONCE_PAY_AMT
FROM ( 		
		SELECT 
       SUM( SPNSR_MBER_CNT )  DEV_MBER_CNT,
	   SUM( SPNSR_AMT_CNT  )  DEV_AMT_CNT,
	   SUM( MT_GOAL_CNT    )  DEV_GOAL_CNT ,
	   SUM( SPNSR_AMT_CNT  )  / SUM( MT_GOAL_CNT    ) * 100  DEV_RATE,
	   0 ACT_NEW_MBER_CNT,
	   0 ACT_NEW_AMT_CNT ,
	   0 ACT_OLD_MBER_CNT,
	   0 ACT_OLD_AMT_CNT ,
	   0 FDRM_PAY_AMT,
	   0 ONCE_PAY_AMT
  FROM MART.F_MM_DEPT_ACMSLT 
 WHERE  STRD_MT = @STRD_MT 
 UNION ALL 
 SELECT 
		0 DEV_MBER_CNT,
		0 DEV_AMT_CNT,
		0 DEV_GOAL_CNT ,
        0 DEV_RATE ,
        COUNT( DISTINCT  CASE WHEN NEW_OLD_DIV_CD = '1' THEN MBER_NO  END  )            ACT_NEW_MBER_CNT ,
		SUM( CASE WHEN NEW_OLD_DIV_CD = '1' THEN SPNSR_AMT  ELSE 0  END  ) / 10000.0  ACT_NEW_AMT_CNT,
		COUNT( DISTINCT  CASE WHEN NEW_OLD_DIV_CD = '2' THEN MBER_NO  END  )            ACT_OLD_MBER_CNT ,
		SUM( CASE WHEN NEW_OLD_DIV_CD = '2' THEN SPNSR_AMT  ELSE 0  END  ) / 10000.0  ACT_OLD_AMT_CNT,
		0 FDRM_PAY_AMT,
	    0 ONCE_PAY_AMT
   FROM MART.F_MM_SPNSR_ACT 
  WHERE STRD_MT = @STRD_MT
    AND  ACT_DSCNTC_DIV_CD = '1' 

UNION ALL 
SELECT  
		0 DEV_MBER_CNT,
		0 DEV_AMT_CNT,
		0 DEV_GOAL_CNT ,
        0 DEV_RATE ,
		0 ACT_NEW_MBER_CNT,
		0 ACT_NEW_AMT_CNT ,
		0 ACT_OLD_MBER_CNT,
		0 ACT_OLD_AMT_CNT ,
        SUM(  PAY_AMT  ) FDRM_PAY_AMT ,
		0 ONCE_PAY_AMT
  FROM  MART.F_PM_MBRFEE  
 WHERE  STRD_MT = @STRD_MT
   AND  USE_YN = 'Y' 
   AND  PRCS_STAT_CD = 'S'
   AND  PAY_STAT_CD  = 'S' 
UNION ALL 
SELECT  0 DEV_MBER_CNT,
		0 DEV_AMT_CNT,
		0 DEV_GOAL_CNT ,
        0 DEV_RATE ,
		0 ACT_NEW_MBER_CNT,
		0 ACT_NEW_AMT_CNT ,
		0 ACT_OLD_MBER_CNT,
		0 ACT_OLD_AMT_CNT ,
        0FDRM_PAY_AMT ,
        SUM(  PAY_AMT  ) ONCE_PAY_AMT  
  FROM  MART.F_PM_ONCE_MBRFEE  
 WHERE  STRD_MT = @STRD_MT
   AND  USE_YN = 'Y' 
   AND  PRCS_STAT_CD = 'S'
   AND  PAY_STAT_CD  = 'S' 
		 ) A

 )
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MM_SPNSR_BSBS_ACT]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 시점 후원번호별 정보
-- AS_IS Function : FN_MM_SPNSR_BSBS_ACT
-- PROGRAMID      : FN_MM_SPNSR_BSBS_ACT.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_MM_SPNSR_BSBS_ACT]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT 
     CONVERT( CHAR(6),FRST_REGIST_DT,112) STRD_MT
    ,A.SPNSR_NO
	,SPNSR_BSNS_NO
	,SPNSR_BSNS_ID
	,MBER_NO
	,CMPGN_CD
	,ACMSLT_DEPT_CD
	,JOIN_PATH_CD
	,FRST_RGSTR_ID
	,CONVERT( CHAR(8),FRST_REGIST_DT,112) FST_DE
	,SPNSR_AMT
	,ISNULL( SPNSR_DSCNTC_DE ,'99991231' ) DSC_DE
	,CASE WHEN ISNULL( SPNSR_DSCNTC_DE ,'99991231' ) <= @STRD_MT + '31' THEN 'Y' ELSE 'N' END SPNSR_DSCNTC_YN
	,CASE WHEN ISNULL( SPNSR_DSCNTC_DE ,'99991231' ) <= @STRD_MT + '31' THEN SPNSR_DSCNTC_RSN_CD ELSE '999' END SPNSR_DSCNTC_RSN_CD
 FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_SPNSR A 
 JOIN MSTR_ODS.DBO.TM_MM_FDRM_MBER_SPNSR_BSNS B
   ON A.SPNSR_NO = B.SPNSR_NO 
 WHERE CONVERT( CHAR(6),FRST_REGIST_DT,112) <=  @STRD_MT 
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MM_SPNSR_DVLP]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_MM_SPNSR_DVLP
-- PROGRAMID      : FN_MM_SPNSR_DVLP.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_MM_SPNSR_DVLP]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT 
	ACMSLT_DEPT_CD2,
	DVLP_DIV_CD2,
	RNUM ,
	SAMT,
	MAMT,
	STRD_MT,
	SPNSR_NO,
	SPNSR_BSNS_NO,
	OCCRRNC_DE,
	SER_NO,
	MBER_NO,
	ACT_DEPT_CD,
	ISNULL( ACMSLT_DEPT_CD2 ,'Z~')  AS ACMSLT_DEPT_CD,
	CMPGN_CD,
	SETLE_CD,
	MBER_DIV_CD,
	SEX,
	AREA_CD,
	AGE,
	SPNSR_TIME_CO,
	SPNSR_AMT_CD,
	SPNSR_BSNS_ID,
	CANCL_RDCAMT_RSN_CD,
	CASE WHEN DVLP_DIV_CD2 = '2' THEN RAMT WHEN DVLP_DIV_CD2 IN ( '3','5' ) THEN MAMT ELSE SPNSR_AMT END SPNSR_AMT ,
	DVLP_DIV_CD2 AS DVLP_DIV_CD,
	FRST_RGSTR_ID,
	FRST_RGSTR_NM,
	LAG(CMPGN_CD , 1) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO  ORDER BY  OCCRRNC_DE ) PRE_CMPGN_CD
FROM (
    -- 신규 / 재후원 
   SELECT  ACMSLT_DEPT_CD AS ACMSLT_DEPT_CD2,*
	 FROM (
			  SELECT DVLP_DIV_CD AS DVLP_DIV_CD2,
			         1 RNUM,
					 0 RAMT, --증액과 항목 맞추기
					 0 AAMT, --증액과 항목 맞추기
					 0 DAMT, --증액과 항목 맞추기
					 0 SAMT, --증액과 항목 맞추기
					  SUM( A.SPNSR_AMT) OVER ( PARTITION BY  A.SPNSR_NO, A.SPNSR_BSNS_NO, LEFT( A.OCCRRNC_DE, 6)  ) MAMT ,
					 --SUM(SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO, OCCRRNC_DE  ) MAMT ,
					 LEFT( A.OCCRRNC_DE, 6) STRD_MT ,A.*
				FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_DVLP_AMT  A
				--JOIN (  SELECT MBER_NO MBER_NO2 FROM MART.D_SPNSR_BSNS_V  WHERE  DSC_DE > @STRD_MT + '31' GROUP BY MBER_NO )  B 
				--  ON A.MBER_NO = B.MBER_NO2 
				JOIN MART.D_SPNSR_BSNS_V  B
				  ON  A.SPNSR_NO = B.SPNSR_NO 
				  AND A.SPNSR_BSNS_NO = B.SPNSR_BSNS_NO 
				  AND B.DSC_DE > LEFT(A.OCCRRNC_DE, 6) +  '31' 
				--  ON A.MBER_NO = B.MBER_NO2 
				WHERE A.DVLP_DIV_CD IN ( '1' ,'4' ) 
		) A
   WHERE A.MAMT > 0 

   UNION ALL  -- 증액  
              -- 처리순서 1. 회원별 SUM > 0 으로 증액회원 구분하고 후원번호별 증액 과 후원사업별 감액 선별  
              -- 처리순서 2. 후원사업별 증액만 선별하고 감액은 증액SUM 값은 증액여부 판단하기 위해 가져감
              -- 처리순서 3. 회원별 후원사업별 누적 > 0 큰 것만 선별
			  -- 처리순서 4. 누적금 , 후원금SUM , 회원SUM 값중 가장 작은 것 선택  
              -- AAMT : 회원별 후원사업별 후원금 누적  DAMT : 회원별 감액  SAMT : 후원사업별 SUM  MAMT : 회원별 SUM  
   SELECT *
     FROM (    
	   SELECT DISTINCT ACMSLT_DEPT_CD ACMSLT_DEPT_CD2,
			  '2'  DVLP_DIV_CD2, 
			   ROW_NUMBER() OVER ( PARTITION BY STRD_MT, SPNSR_NO, SPNSR_BSNS_NO  ORDER BY SER_NO ) RNUM,  -- 항목 맞추기 
			   CASE WHEN  MAMT <= SAMT AND  AAMT + DAMT <= MAMT THEN  AAMT + DAMT
					WHEN  MAMT >  SAMT AND  AAMT + DAMT <= SAMT THEN  AAMT + DAMT 
					WHEN  MAMT <= SAMT THEN MAMT ELSE SAMT END   RAMT,*
		 FROM ( 
				  SELECT 
						  SUM( SAMT ) OVER ( PARTITION BY MBER_NO ,STRD_MT  ORDER BY  OCCRRNC_DE ,SER_NO ) AAMT ,*
				   FROM ( 
						  SELECT  SUM( CASE WHEN DVLP_DIV_CD IN ( '3' )    THEN SPNSR_AMT  ELSE 0 END ) OVER ( PARTITION BY MBER_NO ,STRD_MT ) DAMT ,* 
							FROM ( 
									SELECT  SUM( CASE WHEN DVLP_DIV_CD IN ( '2','3') THEN  SPNSR_AMT ELSE 0 END ) OVER ( PARTITION BY  SPNSR_NO, SPNSR_BSNS_NO , LEFT(OCCRRNC_DE, 6)  ) SAMT, 
											SUM(SPNSR_AMT) OVER ( PARTITION BY MBER_NO , LEFT(OCCRRNC_DE, 6) ) MAMT, 
											LEFT(OCCRRNC_DE, 6) STRD_MT ,*
										FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_DVLP_AMT  
										WHERE DVLP_DIV_CD IN ( '2','3','5') 
								) A
							WHERE 1 = 1
							  AND MAMT > 0
							  AND (( SAMT > 0 AND  DVLP_DIV_CD = '2' ) OR ( SAMT < 0 AND  DVLP_DIV_CD = '3'))
						) B  
				   WHERE  DVLP_DIV_CD = '2'
			  ) C
		WHERE  AAMT - ABS(DAMT)  > 0
	) D
    WHERE RNUM = 1	

   UNION ALL  -- 감액
   SELECT ACMSLT_DEPT_CD AS ACMSLT_DEPT_CD2, 
          '3'  DVLP_DIV_CD2,
		   *
     FROM ( 
		   SELECT ROW_NUMBER() OVER (  PARTITION BY A.MBER_NO , LEFT(OCCRRNC_DE, 6) ORDER BY SPNSR_NO DESC )  SNUM,
		          0 RAMT, --증액과 항목 맞추기
				  0 AAMT, --증액과 항목 맞추기
				  0 DAMT, --증액과 항목 맞추기
		          0 SAMT, --증액과 항목 맞추기
				  SUM(SPNSR_AMT) OVER ( PARTITION BY A.MBER_NO , LEFT(OCCRRNC_DE, 6) ) MAMT, 
				  LEFT(OCCRRNC_DE, 6) STRD_MT ,A.*
			 FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_DVLP_AMT  A 
			WHERE DVLP_DIV_CD IN ( '2','3') 
		   ) A
	WHERE MAMT < 0 
	  AND SNUM = 1
   UNION ALL -- 중단
	SELECT ACMSLT_DEPT_CD AS ACMSLT_DEPT_CD2, 
		   DVLP_DIV_CD AS DVLP_DIV_CD2,
		   *
	 FROM ( 
            SELECT ROW_NUMBER() OVER (  PARTITION BY A.MBER_NO ,A.SPNSR_NO, A.SPNSR_BSNS_NO, LEFT( A.OCCRRNC_DE, 6) ORDER BY A.SER_NO DESC )  SNUM,
			       0 RAMT,  --증액과 항목 맞추기
                   0 AAMT,  --증액과 항목 맞추기
				   0 DAMT,  --증액과 항목 맞추기 
			       0 SAMT,  --증액과 항목 맞추기 
				   SUM( A.SPNSR_AMT) OVER ( PARTITION BY A.MBER_NO ,A.SPNSR_NO, A.SPNSR_BSNS_NO, LEFT( A.OCCRRNC_DE, 6) ) MAMT, 
				   LEFT( A.OCCRRNC_DE, 6) STRD_MT ,A.*
			FROM  MSTR_ODS.DBO.TM_MM_FDRM_MBER_DVLP_AMT      A 
			JOIN  ( SELECT DISTINCT  MBER_NO , SPNSR_DSCNTC_DE
			           FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_SPNSR_DSCNTC 
 				  ) B
			  ON  A.MBER_NO = B.MBER_NO 
			AND   A.OCCRRNC_DE = B.SPNSR_DSCNTC_DE 
			-- AND   A.SER_NO = B.SER_NO
			WHERE A.DVLP_DIV_CD IN ('5') 
		   ) C	
	WHERE SNUM = 1 
) T
WHERE STRD_MT <=  @STRD_MT 
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PM_ACT_PAY]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_PM_ACT_PAY
-- PROGRAMID      : FN_PM_ACT_PAY.sql 
-- 수정사항
-- 수정일 / 작업자 / 내용
-- 2024-01-30 / 민하영 / 회원만족팀 -> 회원관리팀 하드코딩된 부서명 변경(부서코드 D000011이면 회원부수입임)
-- ==================================================
CREATE FUNCTION [dbo].[FN_PM_ACT_PAY]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN

SELECT  
        STRD_MT,
		MBER_DEPT_IC_YN,
		SPNSR_NO,
		SPNSR_BSNS_NO,
		SPNSR_BSNS_ID,
		SPNSR_BSNS_ABRV_CD,
		CPR_DIV_CD,
		MBRFEE_TYP_CD,
		MBRFEE_DIV_CD,
		MBER_NO,
		DEPT_ID  ACMSLT_DEPT_CD  ,
		DEPT2_ID ACMSLT_DEPT2_CD ,
		DEPT3_ID ACMSLT_DEPT3_CD ,
		DEPT4_ID ACMSLT_DEPT4_CD ,
		PAY_AMT,
	    SETLE_CD   -- KMY 20210831 추가
  FROM (
			SELECT 
				   @STRD_MT STRD_MT, 
				   CASE WHEN T4.DEPT_ID IS  NULL THEN 'N' ELSE 'Y' END MBER_DEPT_IC_YN,
				   T1.SPNSR_NO,
		           T1.SPNSR_BSNS_NO,
				   T1.SPNSR_BSNS_ID ,
				   T1.CPR_DIV_CD,
				   CASE WHEN T1.SPNSR_BSNS_ID IN ( '30', '31', '32', '34', '35', '36' ) THEN '99' ELSE  T1.SPNSR_BSNS_ABRV_CD END  SPNSR_BSNS_ABRV_CD,  
				   CASE 
						WHEN T1.MBRFEE_DIV_CD = 'E' THEN 1	--일반회비
						WHEN T1.MBRFEE_DIV_CD = 'G' THEN 2	--지정회비
						WHEN T1.MBRFEE_DIV_CD = 'U' THEN 2	--지정회비
						WHEN T1.MBRFEE_DIV_CD = 'I' THEN (
													  CASE 
														   WHEN T1.SPNSR_BSNS_ID IN (30, 31, 32, 34, 35, 36) THEN 2	--지정회비
														   ELSE 1 
													  END)		--일반회비
					END AS MBRFEE_TYP_CD ,
					MBRFEE_DIV_CD,
					T5.DEPT_ID,
					T5.DEPT2_ID,
					T5.DEPT3_ID,
					T5.DEPT4_ID,
					T1.MBER_NO,
					T1.PAY_AMT, 
				    T1.SETLE_CD  --KMY 20210831 신규기존MART생성시 결제방식 코드 추가를 위해 추가함.
			  FROM ( 
			        SELECT 
			               *
			           FROM MART.F_PM_MBRFEE (NOLOCK )           
					  WHERE USE_YN     = 'Y' 
					    AND PRCS_STAT_CD  = 'S' 
					    AND PAY_STAT_CD   = 'S'
					    AND RETUN_REQUST_KEY IS NULL
					    AND STRD_MT = @STRD_MT
				   ) T1
			  LEFT OUTER JOIN MART.D_SPNSR_BSNS_V       T2
				ON T1.SPNSR_NO = T2.SPNSR_NO 
				AND T1.SPNSR_BSNS_NO = T2.SPNSR_BSNS_NO 
			  LEFT OUTER JOIN MART.D_DEPT_CD            T4 
			    ON T1.CHRG_DEPT_CD = T4.DEPT_ID
			   AND T4.DEPT_NM = '회원관리팀' 
			  LEFT OUTER JOIN MART.D_DEPT_CD            T5
			    ON T1.ACMSLT_DEPT_CD = T5.DEPT_ID	
	) TAB 
	



GO
/****** Object:  UserDefinedFunction [dbo].[FN_PM_MBER_SPNSR_PAY_INFO]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_PM_MBER_SPNSR_PAY_INFO
-- PROGRAMID      : FN_PM_MBER_SPNSR_PAY_INFO.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_PM_MBER_SPNSR_PAY_INFO]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
    SELECT 
           @STRD_MT STRD_MT, 
           SPNSR_NO , 
	       SPNSR_BSNS_NO, 
		   MIN( CONVERT( CHAR(6) , PAY_DE, 112) ) FST_PAY_MT , 
		   MAX( CONVERT( CHAR(6) , PAY_DE, 112) ) LST_PAY_MT , 
	       COUNT( DISTINCT CONVERT( CHAR(6) , PAY_DE, 112) )  MT_CNT , 
		   SUM( PAY_AMT ) TOT_PAY_AMT , 
	       SUM( CASE WHEN  CONVERT( CHAR(6) , PAY_DE, 112)  = @STRD_MT THEN PAY_AMT ELSE 0 END ) PAY_AMT
      FROM MSTR_ODS.DBO.TM_PM_MBRFEE_ACMSLT (NOLOCK ) 
	 WHERE USE_YN = 'Y' 
	   AND PRCS_STAT_CD  = 'S' 
	   AND PAY_STAT_CD   = 'S'
	   AND MBRFEE_DIV_CD = 'E' 
	   AND PAY_DE BETWEEN  CONVERT(DATE, @STRD_MT+'01') AND  DATEADD( DD, -1,DATEADD( MM, 1 ,CONVERT( DATE, @STRD_MT + '01' )))
GROUP BY SPNSR_NO , SPNSR_BSNS_NO
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PM_SETLE_BASE]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 납입방식별 기본
-- AS_IS Function : FN_PM_SETLE_BASE
-- PROGRAMID      : FN_PM_SETLE_BASE.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_PM_SETLE_BASE]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN

SELECT  
     STRD_MT ,
	 CPR_DIV_CD, 
	 A.SETLE_CD,
	 ISNULL( CASE WHEN A.SETLE_CD = '8' THEN 1 ELSE RQEST_SQNC END ,1 ) RQEST_SQNC,
	 MBRFEE_SQNC,
	 SETLE_ENTRPS_CD,
	 TOGETH_WTDRW_DIV_CD,
	 NEW_OLD_DIV_CD,
	 RQ1_YN,
	 RQ2_YN,
	 RQ3_YN,
     PAY_TYP_CD,
	 TOGETH_WTDRW_YN,
	 COUNT( DISTINCT A.MBER_NO  ) PAY_CNT,
	 SUM( PAY_AMT ) PAY_AMT 
FROM ( 
		-- 출금 
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '2'  TOGETH_WTDRW_DIV_CD,
			   '22' PAY_TYP_CD ,  -- 출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE A
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'N' 
		   AND PRCS_STAT_CD  = 'S' 
		   AND PAY_STAT_CD   = 'S' 
		   AND OPER_KEY IS NOT NULL 
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
			   
		UNION ALL 

		-- 미출금 전체

		  /*미출금 수정 KMY 2021 10 29 오류
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3'  TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND MBRFEE_DIV_CD   = 'E' 
		   AND TOGETH_WTDRW_YN = 'N'
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND RETUN_REQUST_KEY IS NULL 

            */
		 
		  SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3'  TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT
		   AND MBRFEE_DIV_CD   = 'E' 
	 	   AND TOGETH_WTDRW_YN = 'N'
		   --AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   --AND RETUN_REQUST_KEY IS NULL 
		   			AND		NOT( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' )		--이관받은회원 제외
			AND		NOT( RETUN_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y')			--환급인원 중복 제외
	       and NOT (
							( PAY_STAT_CD = 'S'	AND		PRCS_STAT_CD = 'S') 	AND		(	PAY_DE BETWEEN	
																						CONVERT(CHAR(10), @STRD_MT+ '01')	AND
																						CONVERT(CHAR(10), DATEADD(ms, -3, DATEADD(mm, DATEDIFF(m, 0, CONVERT(CHAR(10),@STRD_MT + '01', 112) )+1, 0)), 112))
						)	

			   
		UNION ALL 
		-- 미청구 
/* 미청구 다시 살림 2019.12.30	*/	
		SELECT 
			   RQEST_MT STRD_MT ,
			   B.CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   0  MBRFEE_SQNC,
			   SETLE_ENTRPS_CD,
			   '4'  TOGETH_WTDRW_DIV_CD,
			   '44' PAY_TYP_CD ,  -- 미청구
			   'N' TOGETH_WTDRW_YN,
			   A.MBER_NO,
			   RQEST_AMT PAY_AMT 
		  FROM MSTR_ODS.DBO.TM_PM_MBRFEE_UNSLCTED A 
		  JOIN MART.D_SPNSR_BSNS_INFO             B
			ON A.SPNSR_BSNS_ID = B.SPNSR_BSNS_ID 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND A.USE_YN = 'Y' 
		   
		UNION ALL 	   
		-- 환급 
		SELECT 
			   STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '5'TOGETH_WTDRW_DIV_CD,
			   '55' PAY_TYP_CD ,  -- 환급 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE 
		 WHERE STRD_MT  = @STRD_MT 
		   AND USE_YN        = 'Y' 
		   AND PRCS_STAT_CD  = 'S' 
		   AND PAY_STAT_CD   = 'S' 
		   AND RETUN_REQUST_KEY IS NOT NULL    
		UNION ALL 
		SELECT  --함께출금
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '2' TOGETH_WTDRW_DIV_CD,
			   '92' PAY_TYP_CD ,  -- 출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND PRCS_STAT_CD    = 'S'
		   AND PAY_STAT_CD = 'S'  
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY   IS NOT NULL AND USE_YN = 'Y' ) 
		   
		UNION ALL 
		-- 함께 미출금 자동이체
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3' TOGETH_WTDRW_DIV_CD,
			   '93' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY   IS NOT NULL AND USE_YN = 'Y' )
/*		
		UNION ALL 
		-- 함께 미출금 자동이체 제외
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3' TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   --AND MBRFEE_DIV_CD   = 'E' 
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND SETLE_CD != '1' 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND RETUN_REQUST_KEY IS NULL  
*/
   	) A 
	LEFT OUTER JOIN ( 
	       SELECT A.MBER_NO ,
		          SETLE_CD,
		          CASE WHEN LEFT( STDR_DE, 6 ) = @STRD_MT THEN '1' ELSE '2' END   NEW_OLD_DIV_CD ,
				  MAX( CASE WHEN RQEST_SQNC = 1 THEN 'Y' ELSE 'N' END ) RQ1_YN ,
				  MAX( CASE WHEN RQEST_SQNC = 2 THEN 'Y' ELSE 'N' END ) RQ2_YN ,
				  MAX( CASE WHEN RQEST_SQNC = 3 THEN 'Y' ELSE 'N' END ) RQ3_YN 
		     FROM MART.F_PM_MBRFEE A 
			 JOIN MART.D_FDRM_MBER_INFO_CD B 
			   ON A.MBER_NO = B.MBER_NO 
			WHERE RQEST_MT = @STRD_MT
			GROUP BY A.MBER_NO ,SETLE_CD ,CASE WHEN LEFT( STDR_DE, 6 ) = @STRD_MT THEN '1' ELSE '2' END  
		 )B 
    ON A.MBER_NO = B.MBER_NO 
   AND A.SETLE_CD = B.SETLE_CD 
GROUP BY  
		 STRD_MT ,
		 CPR_DIV_CD, 
		 A.SETLE_CD,
		 RQEST_SQNC,
		 MBRFEE_SQNC,
		 SETLE_ENTRPS_CD,
		 TOGETH_WTDRW_DIV_CD,
		 NEW_OLD_DIV_CD,
		 RQ1_YN,
		 RQ2_YN,
		 RQ3_YN,
		 PAY_TYP_CD,
		 TOGETH_WTDRW_YN

GO
/****** Object:  UserDefinedFunction [dbo].[FN_PM_SETLE_BASE_NEW]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 납입방식별 기본
-- AS_IS Function : FN_PM_SETLE_BASE
-- PROGRAMID      : FN_PM_SETLE_BASE.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_PM_SETLE_BASE_NEW]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN

SELECT  
     STRD_MT ,
	 CPR_DIV_CD, 
	 A.SETLE_CD,
	 ISNULL( CASE WHEN A.SETLE_CD = '8' THEN 1 ELSE RQEST_SQNC END ,1 ) RQEST_SQNC,
	 MBRFEE_SQNC,
	 SETLE_ENTRPS_CD,
	 TOGETH_WTDRW_DIV_CD,
	 NEW_OLD_DIV_CD,
	 RQ1_YN,
	 RQ2_YN,
	 RQ3_YN,
     PAY_TYP_CD,
	 TOGETH_WTDRW_YN,
	 COUNT( DISTINCT A.MBER_NO  ) PAY_CNT,
	 SUM( PAY_AMT ) PAY_AMT 
FROM ( 
		-- 출금 
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '2'  TOGETH_WTDRW_DIV_CD,
			   '22' PAY_TYP_CD ,  -- 출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE A
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'N' 
		   AND PRCS_STAT_CD  = 'S' 
		   AND PAY_STAT_CD   = 'S' 
		   AND OPER_KEY IS NOT NULL 
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
			AND		(
					PAY_DE BETWEEN	
					CONVERT(CHAR(10), @STRD_MT + '01')	AND
					CONVERT(CHAR(10), DATEADD(ms, -3, DATEADD(mm, DATEDIFF(m, 0, CONVERT(CHAR(10), @STRD_MT + '01', 112) )+1, 0)), 112)
				)
		 
			   
		UNION ALL 

		-- 미출금 전체
		/*
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3'  TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND MBRFEE_DIV_CD   = 'E' 
		   AND TOGETH_WTDRW_YN = 'N'
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND RETUN_REQUST_KEY IS NULL 
			*/
			
			SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3'  TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT
		   AND MBRFEE_DIV_CD   = 'E' 
	 	   AND TOGETH_WTDRW_YN = 'N'
		   --AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   --AND RETUN_REQUST_KEY IS NULL 
		   			AND		NOT( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' )		--이관받은회원 제외
			AND		NOT( RETUN_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y')			--환급인원 중복 제외
	       and NOT (
							( PAY_STAT_CD = 'S'	AND		PRCS_STAT_CD = 'S') 	AND		(	PAY_DE BETWEEN	
																						CONVERT(CHAR(10), @STRD_MT+ '01')	AND
																						CONVERT(CHAR(10), DATEADD(ms, -3, DATEADD(mm, DATEDIFF(m, 0, CONVERT(CHAR(10),@STRD_MT + '01', 112) )+1, 0)), 112))
						)	
		 
		 
			      
		UNION ALL 
		-- 미청구 
/* 미청구 다시 살림 2019.12.30	*/	
		SELECT 
			   RQEST_MT STRD_MT ,
			   B.CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   0  MBRFEE_SQNC,
			   SETLE_ENTRPS_CD,
			   '4'  TOGETH_WTDRW_DIV_CD,
			   '44' PAY_TYP_CD ,  -- 미청구
			   'N' TOGETH_WTDRW_YN,
			   A.MBER_NO,
			   RQEST_AMT PAY_AMT 
		  FROM MSTR_ODS.DBO.TM_PM_MBRFEE_UNSLCTED A 
		  JOIN MART.D_SPNSR_BSNS_INFO             B
			ON A.SPNSR_BSNS_ID = B.SPNSR_BSNS_ID 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND A.USE_YN = 'Y' 
		   
		UNION ALL 	   
		-- 환급 
		SELECT 
			   STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '5'TOGETH_WTDRW_DIV_CD,
			   '55' PAY_TYP_CD ,  -- 환급 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE 
		 WHERE STRD_MT  = @STRD_MT 
		   AND USE_YN        = 'Y' 
		   AND PRCS_STAT_CD  = 'S' 
		   AND PAY_STAT_CD   = 'S' 
		   AND RETUN_REQUST_KEY IS NOT NULL    
		UNION ALL 
		SELECT  --함께출금
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC , 
			   SETLE_ENTRPS_CD,
			   '2' TOGETH_WTDRW_DIV_CD,
			   '92' PAY_TYP_CD ,  -- 출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   PAY_AMT
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND PRCS_STAT_CD    = 'S'
		   AND PAY_STAT_CD = 'S'  
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY   IS NOT NULL AND USE_YN = 'Y' ) 
		   
		UNION ALL 
		-- 함께 미출금 자동이체
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3' TOGETH_WTDRW_DIV_CD,
			   '93' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND NOT ( TRNSFER_MBRFEE_KEY IS NOT NULL AND USE_YN = 'Y' ) 
		   AND NOT ( RETUN_MBRFEE_KEY   IS NOT NULL AND USE_YN = 'Y' )
/*		
		UNION ALL 
		-- 함께 미출금 자동이체 제외
		SELECT 
			   RQEST_MT STRD_MT ,
			   CPR_DIV_CD,
			   SETLE_CD,
			   RQEST_SQNC,
			   ISNULL( MBRFEE_SQNC, 0 )MBRFEE_SQNC ,
			   SETLE_ENTRPS_CD,
			   '3' TOGETH_WTDRW_DIV_CD,
			   '33' PAY_TYP_CD ,  -- 미출금 
			   TOGETH_WTDRW_YN,
			   MBER_NO,
			   RQEST_AMT  PAY_AMT 
		  FROM MART.F_PM_MBRFEE 
		 WHERE RQEST_MT  = @STRD_MT 
		   --AND MBRFEE_DIV_CD   = 'E' 
		   AND ( PRCS_STAT_CD  = 'R' OR ( PAY_STAT_CD = 'F'  AND  PRCS_STAT_CD = 'S' ))
		   AND SETLE_CD != '1' 
		   AND TOGETH_WTDRW_YN = 'Y'
		   AND RETUN_REQUST_KEY IS NULL  
*/
   	) A 
	LEFT OUTER JOIN ( 
	       SELECT A.MBER_NO ,
		          SETLE_CD,
		          CASE WHEN LEFT( STDR_DE, 6 ) = @STRD_MT THEN '1' ELSE '2' END   NEW_OLD_DIV_CD ,
				  MAX( CASE WHEN RQEST_SQNC = 1 THEN 'Y' ELSE 'N' END ) RQ1_YN ,
				  MAX( CASE WHEN RQEST_SQNC = 2 THEN 'Y' ELSE 'N' END ) RQ2_YN ,
				  MAX( CASE WHEN RQEST_SQNC = 3 THEN 'Y' ELSE 'N' END ) RQ3_YN 
		     FROM MART.F_PM_MBRFEE A 
			 JOIN MART.D_FDRM_MBER_INFO_CD B 
			   ON A.MBER_NO = B.MBER_NO 
			WHERE RQEST_MT = @STRD_MT
			GROUP BY A.MBER_NO ,SETLE_CD ,CASE WHEN LEFT( STDR_DE, 6 ) = @STRD_MT THEN '1' ELSE '2' END  
		 )B 
    ON A.MBER_NO = B.MBER_NO 
   AND A.SETLE_CD = B.SETLE_CD 
GROUP BY  
		 STRD_MT ,
		 CPR_DIV_CD, 
		 A.SETLE_CD,
		 RQEST_SQNC,
		 MBRFEE_SQNC,
		 SETLE_ENTRPS_CD,
		 TOGETH_WTDRW_DIV_CD,
		 NEW_OLD_DIV_CD,
		 RQ1_YN,
		 RQ2_YN,
		 RQ3_YN,
		 PAY_TYP_CD,
		 TOGETH_WTDRW_YN

GO
/****** Object:  UserDefinedFunction [dbo].[FN_RM_CHILD_MSTR_INFO]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_RM_CHILD_MSTR_INFO
-- PROGRAMID      : FN_RM_CHILD_MSTR_INFO.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_RM_CHILD_MSTR_INFO]
(
	@STRT_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT 
      @STRT_MT  AS STRD_MT,
      A.CHILD_CD ,                          
      A.CHILD_NO ,                          
      A.BPLC_CD ,                           
      B2.NATION_CD NATION_CD ,                         
      B2.CNTT_CD ,                           
      A.CHILD_KORNM ,                       
      A.CHILD_ENGNM ,                       
      SEX ,                               
      CONVERT( CHAR(8),CHILD_BRTHDY ,112) AS CHILD_BRTHDY,                      
      CONVERT( INT , LEFT(@STRT_MT ,4)) - DATEPART( YEAR, CHILD_BRTHDY) AGE ,       
	  CASE WHEN F.CHILD_CD IS NULL AND A.RELATNSP_STAT_CD  = '3' THEN '1' 
	       WHEN F.CHILD_CD IS NOT NULL THEN '3'
	       ELSE A.RELATNSP_STAT_CD  END RELATNSP_STAT_CD,
--	 A.RELATNSP_STAT_CD,   
	  -- 퇴소정보 = NULL 이고  아동상태 =  퇴소 이면  -> 결연
      -- 퇴소정보 = NULL 이고  결연상태 =  결연 이고 아동상세가 결연이 아니면 -> 결연   	  
	  -- 퇴송정보가 있으면 퇴소
      CASE WHEN F.CHILD_CD IS NULL AND A.RELATNSP_STAT_CD  = '3' THEN '1' 
		   WHEN F.CHILD_CD IS NOT NULL THEN '6' 
		   ELSE A.CHILD_STAT_CD END CHILD_STAT_CD,
--	 A.CHILD_STAT_CD , 
--     A.CHILD_DTL_STAT_CD,
	  CASE WHEN F.CHILD_CD IS NULL AND  A.RELATNSP_STAT_CD  = '3' THEN '1' 
	       WHEN F.CHILD_CD IS NOT NULL THEN '13'
	       ELSE  A.CHILD_DTL_STAT_CD END CHILD_DTL_STAT_CD,  
      ISNULL( A.REGIST_DIV_CD, '1' ) REGIST_DIV_CD,                     
      ISNULL( 
	  CASE WHEN ISNULL(B.BSNS_END_DE ,'99991231' ) <= @STRT_MT +'31' THEN '3' 
	       ELSE  CASE WHEN LEFT( B.BSNS_STRT_DE,4) >= LEFT(@STRT_MT,4) THEN '1' 
		              ELSE '2' END  END,'99' )   BPLC_STAT_CD ,      -- 사업시작년이  당해년도면 신규(1) 아니면 기존(2)                
      CASE WHEN @STRT_MT = CONVERT(CHAR(6), A.FRST_REGIST_DT, 112) THEN 'Y' ELSE 'N' END  CHLD_CUR_MT_JOIN_YN ,               
	  CASE WHEN LEFT( @STRT_MT,4) = CONVERT(CHAR(4), A.FRST_REGIST_DT, 112) THEN '1' ELSE '2' END CHILD_NEW_OLD_DIV_CD ,            
      'Z' RELATNSP_CUR_MT_JOIN_YN ,   -- Y/N           
      '99' RELATNSP_NEW_OLD_DIV_CD ,   --1 신규 2:기존        
      '2' RELATNSP_LOG_CD ,           -- 1:있음, 2:없음                  
      0 RELATNSP_CNT ,                      
      CONVERT( CHAR(8),A.FRST_REGIST_DT, 112) AS FRST_REGIST_DT,                    
      CONVERT( CHAR(8),LAST_REGIST_DT, 112  ) AS LAST_REGIST_DT,                       
      ISNULL( CONVERT( CHAR(8), A.RE_UPDT_DT ,112),'99991231')  AS RE_UPDT_DT ,                        
      '99' CHG_RSN_CD ,                        
      '999' CANCL_RDCAMT_RSN_CD ,               
      '999' RELATNSP_CANCL_TYP_CD ,             
      'N' RE_RELATNSP_YN ,                    
      'N' ONE_YEAR_RELATNSP_CNL_YN ,          
      'N' ONE_YEAR_RE_RELATNSP_YN ,           
      'N' CUR_MT_RELATNSP_CNL_YN ,            
      'N' CUR_MT_RELATNSP_DVLP_YN ,           
      'N' CUR_MT_RE_RELATNSP_YN ,             
      '0' MINUS_AMT_TYP_CD ,                  
      '99' NEW_RELATNSP_TYP_CD ,               
       CASE WHEN @STRT_MT = CONVERT(CHAR(6), A.FRST_REGIST_DT, 112) THEN 'Y' ELSE 'N' END CHLD_CUR_MT_REG_YN  ,                
      '99991231' SPNSR_DSCNTC_DE ,                   
      '99991231' RE_SPNSR_DE ,                       
      ISNULL( F.DROP_RSN_CD, '999')  DROP_RSN_CD ,                       
      A.MNYRS_NATION_CD ,                   
      A.CMS_CHILD_NO ,                      
      'Y' USE_YN ,                            
      G.CHILD_REPRT_KND_CD NEWEST_REPRT_KIND_CD , --C.LAST_CD NEWEST_REPRT_KIND_CD ,              
      CONVERT( CHAR(8),G.APRV_DE,112)  NEWEST_REPRT_STAT_DE ,              
      1 CHILD_CNT ,                         
      '99991231' LAST_RELATNSP_DE ,                  
      '99991231' LAST_RELATNSP_CANCEL_DE ,           
      ISNULL( CONVERT( CHAR(8),F.DROP_DE ,112),'99991231') DROP_DE ,                           
      '0' CMPGN_CD , 
	  ISNULL(D.CMPGN_CD,'0')  RECIPT_CMPGN_CD ,    
      CASE WHEN C.SCHUL_VU  = '' THEN  99 ELSE C.SCHUL_VU  END  AS SCHOOLER_DIV_CD ,                   
      CASE WHEN C.SCHUL_VU BETWEEN '2' AND '9' THEN 'Y' ELSE 'N' END  SCHOOLER_YN ,                       
      ISNULL( CASE WHEN C.HEALTH_STAT_VU = '' THEN '99' ELSE C.HEALTH_STAT_VU END  ,'99') HEALTH_STAT_VU,                    
      ISNULL( C.HEIGHT ,0) HEIGHT,                            
      ISNULL( C.WEIGHT ,0) WEIGHT,                            
      CASE WHEN C.TROBL_KND_VU  BETWEEN '1' AND '99' THEN 'Y' ELSE 'N' END TROBL_VN ,
      ISNULL( C.DISEASE_YN ,'N') DISEASE_YN,                        
      ISNULL( C.TROBL_KND_VU ,'N') TROBL_KND_VU,                      
      ISNULL( C.DISEASE_KND_VU ,'N') DISEASE_KND_VU,                    
      ISNULL( C.AGE18_ET_YN ,'Z')  AGE18_ET_YN,                       
      ISNULL( C.AGE18_DTL_RM_CD,'99999' )  AGE18_DTL_RM_CD,                   
      ISNULL( CASE WHEN E.SPECL_MNG_CD = '' THEN '999' ELSE E.SPECL_MNG_CD END , '999' ) SPECL_MNG_CD ,                      
      'N' MTCHG_YN ,                          
      'N' REAL_MTCHG_YN ,
      F.TS_LAST_CHN_VU,
      CASE WHEN F.CHILD_CD IS NULL THEN  'N' ELSE 'Y' END  CHILD_DROP_YN   , 	  
      CONVERT( CHAR(8) , GETDATE(), 112) WORK_DE  
    FROM  MSTR_ODS.DBO.TM_RM_CHILD_MSTR_INFO A  WITH(NOLOCK)    -- RM_아동마스터정보
	LEFT OUTER JOIN MART.D_BPLC_CD           B
	  ON A.BPLC_CD = B.BPLC_CD
    LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_NATION_MNG       B2
	  ON B.NATION_CD = B2.NATION_CD
    LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_CHILD_SCREENING  C  -- RM_아동스크리닝
	  ON A.CHILD_CD = C.CHILD_CD
    LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_CHILD_RECIPT_CMPGN_INFO D  -- RM_아동수급캠페인정보
	  ON A.CHILD_CD = D.CHILD_CD
    LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_CHILD_SPNSR_DTLS        E
	  ON A.CHILD_CD = E.CHILD_CD 
	LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_CHILD_DROP_OUT F 
	  ON A.CHILD_CD = F.CHILD_CD 
	 AND CONVERT( CHAR(6), F.DROP_DE ,112 ) <=  @STRT_MT 
	LEFT OUTER JOIN ( SELECT 
	                         ROW_NUMBER() OVER ( PARTITION BY CHILD_CD  ORDER BY SORT_NO DESC ) RNUM ,*
                        FROM MSTR_ODS.DBO.TM_RM_CHILD_SCREENING_APRV   
					   WHERE CONVERT( CHAR(6),APRV_DE ,112) <= @STRT_MT 
                     ) G
      ON A.CHILD_CD = G.CHILD_CD 
      AND G.RNUM = 1	  
 WHERE  CONVERT( CHAR(6),A.FRST_REGIST_DT ,112) <= @STRT_MT  
   AND  A.BPLC_CD <> 'ZZZ-9999'
   AND  LEFT(A.BPLC_CD, 3) <> 'KOR'
   AND  A.MNYRS_NATION_CD = '1'
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RM_RELATNSP_MSTR_INFO]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 결연변환
-- AS_IS Function : FN_RM_RELATNSP_MSTR_INFO
-- PROGRAMID      : FN_RM_RELATNSP_MSTR_INFO.sql 
-- ==================================================
-- 수정일 : 2020-02-18 
-- 수정내용: 아동취소 사유와 결연취소사유를 동일하게 맞춰달라고 결연팀(김지민대리) 요청함(KMY )
-- ==================================================
CREATE FUNCTION [dbo].[FN_RM_RELATNSP_MSTR_INFO]
(
	@STRT_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT 
      @STRT_MT  AS STRD_MT,
      A.RELATNSP_KEY,
	  A.SPNSR_NO,
	  A.SPNSR_BSNS_NO,
	  A.CHILD_CD,
	  CONVERT( CHAR(8), RELATNSP_STRT_DE,112) RELATNSP_STRT_DE ,
	  CONVERT(CHAR(8), RELATNSP_DSCNTC_DE, 112) R_RELATNSP_DSCNTC_DE,
	  CASE WHEN CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) <= @STRT_MT  THEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) ELSE '99991231' END  AS RELATNSP_DSCNTC_DE ,
	  CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) <= @STRT_MT + '31' THEN 'Y'  ELSE 'N'   END  AS   RELATNSP_DSCNTC_YN ,
	  CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) <= @STRT_MT + '31' THEN  RELATNSP_DSCNTC_RSN_CD ELSE '999' END RELATNSP_DSCNTC_RSN_CD,
	  A.FRST_RGSTR_ID,
	  CONVERT( CHAR(8), FRST_REGIST_DE ,112) FRST_REGIST_DE,
	  A.MBER_NO,
	  CASE WHEN CONVERT( CHAR(6),RELATNSP_STRT_DE, 112) = @STRT_MT THEN 'Y' ELSE 'N' END   RELATNSP_CUR_MT_JOIN_YN,
	  CASE WHEN CONVERT( CHAR(6),B.FRST_REGIST_DT, 112) = @STRT_MT THEN 'Y' ELSE 'N' END   MBER_CUR_MT_JOIN_YN,
	  CASE WHEN CONVERT( CHAR(4),B.FRST_REGIST_DT, 112) = LEFT( @STRT_MT, 4) THEN '1' ELSE '2' END   MBER_NEW_OLD_DIV_CD,
	  	  CASE WHEN CONVERT( CHAR(4),RELATNSP_STRT_DE, 112) = LEFT( @STRT_MT, 4) THEN '1' ELSE '2' END   RELATNSP_NEW_OLD_DIV_CD,
	/*	  
	  CASE WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '1','2','9','17','20','28') THEN '1'
					     WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '8','11','27','29'        ) THEN '2'
						 WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '14','16'                 ) THEN '3'
						 WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '3','4','5','6','7','10','12','13','15','18','19','21','22','23','24','25','26' ) THEN '4'
						 ELSE '0' END RELATNSP_CANCL_TYP_CD ,
	*/
	 CASE WHEN CONVERT( CHAR(6),RELATNSP_STRT_DE, 112) < CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) AND CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) = @STRT_MT THEN 
			 CASE WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '16','17','19','21','22','23','24') THEN '3' -- 퇴소
				  WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '8' ,'11','12','20' )               THEN '4' -- 아동교체
				  WHEN A.RELATNSP_DSCNTC_RSN_CD = '7' OR G.CHILD_STATS_CD = '7'         THEN '5' -- 중단
				  WHEN G.CHILD_STATS_CD IN ( '2', '8' ) THEN G.CHILD_STATS_CD  -- 후원사업변경 , 감액
				  ELSE '99' END  
			 ELSE '99' END  CHILD_CANCL_TYP_CD,
			 
	 CASE WHEN C2.SPNSR_NO IS NOT NULL AND CONVERT( CHAR(6),RELATNSP_STRT_DE, 112) < CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) AND CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) = @STRT_MT THEN 
		 CASE WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '16','17','19','21','22','23','24') THEN '3' -- 퇴소
			  WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '8' ,'11','12','20' )               THEN '4' -- 아동교체
			  WHEN A.RELATNSP_DSCNTC_RSN_CD = '7' OR C2.ACCNUT_STATS_CD = '7'         THEN '5' -- 중단
			  WHEN G.CHILD_STATS_CD IN ( '2', '8' ) THEN G.CHILD_STATS_CD  -- 후원사업변경 , 감액 (2020-02-18 kmy 김지민대리요청으로 아동취소사유와 동일하게 조건 추가함.)
			  ELSE C2.ACCNUT_STATS_CD END  
		 ELSE '99' END  RELATNSP_CANCL_TYP_CD,		 
		  
     ISNULL( F.CANCL_RDCAMT_RSN_CD,'999') CANCL_RDCAMT_RSN_CD,     	 
      
	  ROW_NUMBER() OVER ( PARTITION BY A.CHILD_CD  ORDER BY  CASE WHEN CONVERT( CHAR(8), ISNULL(RELATNSP_DSCNTC_DE,'9999-12-31') ,112) > @STRT_MT + '31' THEN '9999-12-31' ELSE RELATNSP_DSCNTC_DE END DESC   , RELATNSP_STRT_DE DESC ) CHILD_RNUM,
	  -- 아동별 로그 건수					 
      SUM( CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) <= @STRT_MT + '31' AND  RELATNSP_DSCNTC_DE <> RELATNSP_STRT_DE THEN 1 ELSE 0 END ) OVER ( PARTITION BY A.CHILD_CD ) CHILD_LOG_CNT ,
	  -- 아동별 1:2 이상 결연 건수
	  SUM( CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) > @STRT_MT + '31'  OR RELATNSP_DSCNTC_DE IS NULL THEN 1 ELSE 0 END ) OVER ( PARTITION BY A.CHILD_CD ) CHILD_REL_CNT,
      
	  -- 회원별 퇴소아동 경험수 					 
      SUM( CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) <= @STRT_MT + '31' AND  RELATNSP_DSCNTC_DE <> RELATNSP_STRT_DE THEN 1 ELSE 0 END ) OVER ( PARTITION BY A.MBER_NO ) MBER_LOG_CNT ,
	  
	  
	  -- 1년이내 후원취소여부
	   CASE WHEN CONVERT( CHAR(6),RELATNSP_STRT_DE, 112) < CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) AND CONVERT( CHAR(4), RELATNSP_DSCNTC_DE,112) = LEFT(@STRT_MT,4) THEN 
		 CASE WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '16','17','19','21','22','23','24') THEN 'Y' -- 퇴소
			  WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '8' ,'11','12','20' )               THEN 'Y' -- 아동교체
			  WHEN A.RELATNSP_DSCNTC_RSN_CD = '7' OR G.CHILD_STATS_CD = '7'         THEN 'Y' -- 중단
			  WHEN G.CHILD_STATS_CD IN ( '2', '8' ) THEN 'Y'  -- 후원사업변경 , 감액
			  ELSE 'N' END  
		 ELSE 'N' END  ONE_YEAR_RELATNSP_CNL_YN ,	

	  -- 당월 후원취소여부
	  -- CASE WHEN  DATEDIFF( MONTH, DATEADD( MONTH , 1, DATEADD( DAY, -1, CONVERT( DATE,  @STRT_MT  + '01') ) ) ,MAX( CASE WHEN RELATNSP_DSCNTC_DE <> RELATNSP_STRT_DE THEN RELATNSP_DSCNTC_DE END ) OVER ( PARTITION BY A.CHILD_CD  ))  < 2   THEN  'Y' ELSE 'N' END CUR_MT_RELATNSP_CNL_YN ,	
	   CASE WHEN CONVERT( CHAR(6),RELATNSP_STRT_DE, 112) < CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) AND CONVERT( CHAR(6), RELATNSP_DSCNTC_DE,112) = @STRT_MT THEN 
			 CASE WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '16','17','19','21','22','23','24') THEN 'Y' -- 퇴소
				  WHEN A.RELATNSP_DSCNTC_RSN_CD IN ( '8' ,'11','12','20' )               THEN 'Y' -- 아동교체
				  WHEN A.RELATNSP_DSCNTC_RSN_CD = '7' OR G.CHILD_STATS_CD = '7'         THEN 'Y' -- 중단
				  WHEN G.CHILD_STATS_CD IN ( '2', '8' ) THEN 'Y'  -- 후원사업변경 , 감액
				  ELSE 'N' END  
			 ELSE 'N' END CUR_MT_RELATNSP_CNL_YN ,
      -- 당월 결연개발여부 
	  CASE WHEN C.SPNSR_NO IS NOT NULL THEN 'Y' ELSE 'N' END CUR_MT_RELATNSP_DVLP_YN,

	  -- 회원별 1:2 이상 결연 건수
	  SUM( CASE WHEN CONVERT( CHAR(8), RELATNSP_DSCNTC_DE,112) > @STRT_MT + '31'  OR RELATNSP_DSCNTC_DE IS NULL THEN 1 ELSE 0 END ) OVER ( PARTITION BY A.MBER_NO ) MBER_REL_CNT,
	  C.CHILD_STATS_CD   NEW_CHILD_TYP_CD,
	  C.ACCNUT_STATS_CD  NEW_RELATNSP_TYP_CD,
	  B.RELATNSP_DIV_CD,
	 

	  CASE WHEN LEFT( @STRT_MT, 4) - YEAR( RELATNSP_STRT_DE ) < 1 THEN '1' 
	       WHEN LEFT( @STRT_MT, 4) - YEAR( RELATNSP_STRT_DE ) BETWEEN 1 AND 4  THEN '2'
		   WHEN LEFT( @STRT_MT, 4) - YEAR( RELATNSP_STRT_DE ) BETWEEN 5 AND 9  THEN '3'
		   WHEN LEFT( @STRT_MT, 4) - YEAR( RELATNSP_STRT_DE ) >= 10            THEN '4' 
		   END   RELATNSP_TERM_CD ,
	 ISNULL( D.CHG_RSN_CD,'0') CHG_RSN_CD ,
	 CASE WHEN SCHUL_VU IS NULL OR TRIM( SCHUL_VU ) = '' THEN '99' ELSE SCHUL_VU END SCHOOLER_DIV_CD
	  
  FROM MSTR_ODS.DBO.TM_RM_RELATNSP_MSTR_INFO        (NOLOCK)  A 
  LEFT OUTER JOIN MSTR_ODS.DBO.TM_MM_FDRM_MBER_INFO (NOLOCK)  B
    ON A.MBER_NO = B.MBER_NO  
  -- 아동퇴소사유	
  LEFT OUTER JOIN ( 
                    SELECT DISTINCT A.SPNSR_NO, B.SPNSR_BSNS_NO ,B.CHILD_STATS_CD ,B.ACCNUT_STATS_CD ,B.RELATNSP_DVLP_DIV_CD, A.OCCRRNC_DE
					  FROM ( 
								SELECT SUM( SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) SAMT ,
								       ROW_NUMBER() OVER ( PARTITION BY  SPNSR_NO, SPNSR_BSNS_NO ORDER BY DVLP_DIV_CD ) RNUM ,* 
								  FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_DVLP_AMT  (NOLOCK)  C
								 WHERE LEFT(OCCRRNC_DE,6)  = @STRT_MT
								   AND SPNSR_BSNS_ID = '1'
						    ) A
                      JOIN (
                             SELECT SUM( SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) SAMT ,
							        ROW_NUMBER() OVER ( PARTITION BY  SPNSR_NO, SPNSR_BSNS_NO ORDER BY RELATNSP_DVLP_DIV_CD ) RNUM,*
							  FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_RELATNSP_DVLP_AMT 
							 WHERE OCCRRNC_DE LIKE @STRT_MT +'%'
							   AND ACCNUT_STATS_CD <> '0'
							   AND CHILD_STATS_CD  <> '0'
						    )B 
                         ON A.SPNSR_NO = B.SPNSR_NO 
                        AND A.SPNSR_BSNS_NO = B.SPNSR_BSNS_NO 
						AND B.SAMT > 0 
						AND A.RNUM =1 
						AND B.RNUM =1
					    WHERE A.SAMT > 0 
                  ) C
    ON A.SPNSR_NO = C.SPNSR_NO 
   AND A.SPNSR_BSNS_NO = C.SPNSR_BSNS_NO 
   
   -- 회원퇴소사유 
   LEFT OUTER JOIN ( 
                    SELECT B.SPNSR_NO, B.SPNSR_BSNS_NO ,B.CHILD_STATS_CD ,B.ACCNUT_STATS_CD ,B.RELATNSP_DVLP_DIV_CD, OCCRRNC_DE
					  FROM  (
                             SELECT SUM( SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) SAMT ,
							         ROW_NUMBER() OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ORDER BY SER_NO DESC  ) RNUM,  *
							  FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_RELATNSP_DVLP_AMT 
							 WHERE OCCRRNC_DE LIKE @STRT_MT +'%'
							   AND ACCNUT_STATS_CD > '0'
						    )B 
					    WHERE B.SAMT < 0 
						  AND RNUM = 1
                  ) C2
    ON A.SPNSR_NO = C2.SPNSR_NO 
   AND A.SPNSR_BSNS_NO = C2.SPNSR_BSNS_NO 
 --  AND C.RELATNSP_DVLP_DIV_CD = 1
  LEFT OUTER JOIN MSTR_ODS.DBO.TM_RM_RELATNSP_CHG_INFO (NOLOCK)  D 
	ON A.RELATNSP_KEY = D.RELATNSP_KEY
   -- AND D.CHG_YN = 'Y'  -- 일단 주석처리 함 
   AND CONVERT( CHAR(6),D.CHG_DE,112) <= @STRT_MT
  LEFT OUTER JOIN  MSTR_ODS.DBO.TM_RM_CHILD_SCREENING (NOLOCK) E 
    ON A.CHILD_CD = E.CHILD_CD
  LEFT OUTER JOIN  ( SELECT ROW_NUMBER() OVER ( PARTITION BY  SPNSR_NO, SPNSR_BSNS_NO  ORDER BY OCCRRNC_DE DESC ) RNUM , * 
                       FROM MART.F_MM_SPNSR_DVLP       F
					  WHERE F.STRD_MT = @STRT_MT 
					    AND F.SPNSR_BSNS_ID = '1'
					    AND F.DVLP_DIV_CD   = '5' 
					    AND F.CANCL_RDCAMT_RSN_CD IS NOT NULL  
                   ) F					   
    ON A.SPNSR_NO = F.SPNSR_NO
   AND A.SPNSR_BSNS_NO = F.SPNSR_BSNS_NO 	
   AND F.RNUM = 1 
  LEFT OUTER JOIN  ( SELECT ROW_NUMBER() OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO  ORDER BY OCCRRNC_DE DESC  ) RNUM, * 
                       FROM MSTR_ODS.DBO.TM_MM_FDRM_MBER_RELATNSP_DVLP_AMT  
					  WHERE CHILD_STATS_CD IN ( '2', '7', '8' ) 
                        AND OCCRRNC_DE LIKE  @STRT_MT + '%'   
                    ) G
    ON A.SPNSR_NO = G.SPNSR_NO 
   AND A.SPNSR_BSNS_NO = G.SPNSR_BSNS_NO 
   AND G.RNUM = 1
  

 WHERE CONVERT( CHAR(6),RELATNSP_STRT_DE ,112) <= @STRT_MT 
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RM_SPSNR_ACT]    Script Date: 2025-12-29 오후 3:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author : 강현준
-- Create Date : 2019-09-19
-- Description : 아동마스터변환
-- AS_IS Function : FN_RM_SPSNR_ACT
-- PROGRAMID      : FN_RM_SPSNR_ACT.sql 
-- ==================================================
CREATE FUNCTION [dbo].[FN_RM_SPSNR_ACT]
(
	@STRD_MT 		AS CHAR(6)
)
RETURNS TABLE
AS 
RETURN
SELECT *
      	FROM (
			  SELECT  DATEDIFF( MONTH, CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) MT_CNT ,
			          DATEDIFF( YEAR , CONVERT( DATE, MIN_STRD_DE), DATEADD(DAY, -1, DATEADD(MONTH,1, CONVERT(DATE,@STRD_MT+'01'))) ) YY_CNT ,
					  CASE WHEN SUM_AMT < 10000                    THEN  '1'
					       WHEN SUM_AMT BETWEEN  10000  AND  49999 THEN  '2'
						   WHEN SUM_AMT BETWEEN  50000  AND  99999 THEN  '3'
						   WHEN SUM_AMT BETWEEN 100000  AND 499999 THEN  '4'
						   WHEN SUM_AMT > 500000                   THEN  '5'
						   ELSE '0' END AS SPNSR_AMT_CD1 ,
					  CASE WHEN SUM_AMT < 10000                    THEN  '1'
					       WHEN SUM_AMT BETWEEN  10000  AND  49999 THEN  '2'
						   WHEN SUM_AMT BETWEEN  50000  AND  99999 THEN  '3'
						   WHEN SUM_AMT BETWEEN 100000  AND 499999 THEN  '4'
						   WHEN SUM_AMT > 500000                   THEN  '5'
						   ELSE '0' END AS SPNSR_AMT_CD2 ,	   
			          *
			  FROM ( 
					SELECT 
						 SUM( SPNSR_AMT) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) SUM_AMT , -- 현재 후원금액
						 SUM( CASE WHEN STRD_MT = @STRD_MT AND  DVLP_DIV_CD IN ( '2','3')     THEN SPNSR_AMT ELSE 0 END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) ADD_AMT , --당월증액
						 SUM( CASE WHEN DVLP_DIV_CD IN ( '2')     THEN SPNSR_AMT ELSE 0 END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) TOT_ADD_AMT , --증액
						 MAX( CASE WHEN DVLP_DIV_CD IN ( '2')     THEN OCCRRNC_DE  END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) LAST_ADD_DE , --최종증액일자
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ( '1','2', '4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_STRD_DE , --최초후원일
						 MIN( CASE WHEN SPNSR_AMT > 0 AND DVLP_DIV_CD IN ('4') THEN OCCRRNC_DE ELSE '99991231' END ) OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO ) MIN_RE_STRD_DE , --최초재후원일
						 ROW_NUMBER()  OVER ( PARTITION BY SPNSR_NO, SPNSR_BSNS_NO  ORDER BY OCCRRNC_DE DESC ) RNUM ,  -- 최종 활동회원정보  
						 *
					  FROM MART.F_MM_SPNSR_DVLP  A
					 WHERE A.STRD_MT <= @STRD_MT
				   ) B
			 WHERE RNUM = 1 -- 최종 정보 
			   AND ( SUM_AMT > 0  OR  (SUM_AMT = 0  AND  STRD_MT =  @STRD_MT)) 
		   )    A
GO
